#body-index__{
    background-color: #e2eeef;
}

article{
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(137, 137, 148);
    margin-top: 20px;
    height: 640px;
}

#score {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: double;
    margin-bottom: 25px;
    border-radius: 15px;
}

footer{
    position: fixed;
    top: 96%;
    left : 46.5%
}

#icon-main {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mains{
    font-size: 72px;
    cursor: pointer;
}

#computer-img {
    height : 150px;
    width : 150px;
}

#instruction {
    font-size : 20px;
    font-weight : 500;   
}

button {
    border: 0;
    background-color: #ff72bd;
    padding: 15px;
    border-radius: 20px;
    color : #e2eeef;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}